* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3eded;
}

.whole-page {
    display: flex;
    border-top: 2px solid black;
}

.sidenav {
    padding: 15px;
    color: #fff;
    min-width: 200px;
    border-right: 1px solid #000;
}

.sidenav a {
    display: block;
    padding: 10px;
    color: black;
}

.sidenav a:hover {
    background-color: #cac7c7;
}

.sidenav_travel {
    position: fixed;
}

.banner {
    width: 100%;
    height: auto;
    max-height: 225px;
    justify-content: center;
}

.side_lock {
    width:15%;
    max-width: 200px;
}

.pic_six {
    display: flex;
}

.trash {
    width: 100%;
    max-width: 450px;
    padding-right: 30px;
}

.top {
    padding-top: 30px;
    padding-left: 15px;
}

.cs_soft {
    padding-bottom: 20px;
}

.skills {
    padding-left: 30px;
}

.main {
    flex: 1; 
}

.sect {
    padding-top: 20px;
    padding-left: 30px;
}

.border {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}

.abt_desc {
    padding-top: 20px;
    line-height: 2;
}

/* timeline section */
.timeline {
    margin: 20px auto;
    padding: 20px;
}
  
    .t_line {
        border-left: 2px solid black;
    }
  
    .t_box {
        position: relative;
        margin: 0 0 20px 20px;
        padding: 6px;
        color: black;
        border-radius: 1px;
        max-width: 400px;
        outline: 5px outset #262728;
        outline-offset: 0px;
    }

    .t_school {
        color: black;
        position: relative;
    }
  
    .t_school::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: black;
        border-radius: 999px;
        left: -35px;
        border: 3px solid #ada3a3;
    }

.exp_box {
    padding-top: 20px;
    display: flex;
}

.exp_pic {
    padding-left: 20px;
}

.exp_list {
    padding-top: 15px;
    padding-left: 40px;
    line-height: 2;
}

.prj_line {
    display: flex;
    padding-top: 25px;
}

.prj_box {
    border: 5px ridge #86898b;
    width: auto;
    min-width: 300px;
    padding: 15px;
    text-align: center;

}

.prj_box h3 {
    padding-bottom: 15px;
}

.prj_box p {
    line-height: 1.5;
}

.soc {
    display: flex;
    font-size: 20px;
}

.LinkedIn {
    padding-top: 20px;
    max-width: 40px;
}

.socials {
    padding-left: 50px;
    width: 50%;
}



