* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8C1ABB;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.navbar a {
    float: left;
    color: #e6dae1;
    text-align: center;
    padding: 20px 20px 20px;
    font-size: 17px;
    font-family:fantasy;
    border-right: 1px solid;
}

.navbar :hover {
    background-color: #ddd;
    color: black;
}

.left-right-seperator {
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
    align-content: normal;
    padding: 1%;
    padding-bottom: 30px;
}

.b2tleft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    color: #8C1ABB;
}

.topleftname { 
    padding-left: 10%;   
    font-size: 3em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.oneliner {
    color: #ddd;
    padding-left: 2%;
}

.b2tright {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #4ACD62;
    color: black;
    padding: 10%;
    border-radius: 25px;
}

.arrow {
    padding: 20px;
    display: flex;
    
}

.me {
    max-block-size: 50%;
   
}

.box {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.abt {
    display: flex;
    justify-content: top;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    color: #4ACD62;
    background-color: #8C1ABB;
    position: relative;
    min-height: fit-content;
    font-size: 20px;
}

.contact {
    color: black;  display: flex;
    justify-content: top;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #4ACD62;
    position: relative;
    min-height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.contact-box {
    background-color: #8C1ABB;
    color: #ddd;
}

.contact-box a {
    color: #ddd;
}

.contact-box a:hover {
    color: black;
}

.LinkedIn {
    padding-top: 10px;
    size: 10%;
}

.b2t a{
  position: absolute;
  color: white;
}




